:root{
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario : #0097a7;
  --gris: #757575;
}
*{
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
    
}
h1{
    text-align: center;
    
}
h1 span{
    font-size: 20px;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.nav-principal{
    
    display: flex;
    flex-direction: column;
    
}
@media (min-width:  768px) {
.nav-principal{
    flex-direction: row;
    justify-content: space-evenly;
}    
}
.nav-principal a{
display: block;
text-align: center;
color: var(--blanco);
text-decoration: none;
font-size: 1.5rem;
font-weight: 700;
padding: 1rem ;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
} 

